ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul {
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
}

ul {
    top: 0;
    left: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: flex;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: black;
}

li a:hover {
    background-color: #6767;
}

.name {
    font-size: 20px;
}

.btn-nav {
    padding-top: 5px;
    padding-left: 3px;
}