* {
    font-family: Arial, Helvetica, sans-serif;
}

header nav a {
    padding-left: 10px;
}

.navbar-nav mr-auto {
    list-style-type: none;
    margin: 0px;
    padding: 5px;
}

.navbar-nav mr-auto li {
    padding-left: 10px;
}

.home {
    padding-top: 10rem;
    padding-left: 10rem;
    padding-right: 34rem;
}

.home a {
    color: black;
    text-decoration: none;
}

.home h1 img {
    padding-bottom: 10px;
}

main {
    padding-top: 15rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.btnadd{
background: #ffcf2a;
border: none;
padding: 10px;
border-radius: 10px;
}

.card_pika{ 
    background-color: wheat;
    color: black;
    padding: 17px;
    border-radius: 9px;
    width: 50%;
}